{% extends "base.html" %}

{% block title %}{{ article.title | escape }} - {{ SITENAME }}{% endblock %}
{% block content %}


<article class="post{% if article and article.dropcase %} dropcase{% endif %}">
  <header class="post-header">
    <h1 class="post-title">{{ article.title }}</h1>
    <p class="post-date">Posted <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> | <span>{{ article.category }}</span></p>
  </header>

  {% if article and article.featuredimage %}
  <picture class="post-figure">
      {% if article.featuredimage_webp %}
      <source srcset="{{ article.featuredimage_webp }}" type="image/webp">
      {% endif %}
      <source srcset="{{ article.featuredimage }}">
    <img src="{{ article.featuredimage_desc }}"{% if article.featuredimage_desc %} alt="{{ article.featuredimage_desc |escape }}"{% endif %}>
  </picture>
  {% endif %}
  
  {{ article.content }}

</article>

{% endblock %}
