<!DOCTYPE html>
<html  lang="{{ DEFAULT_LANG }}">
  <head>
    {% include "header.html" %}
  </head>
  <body class="single-body">
    <nav class="nav-bar side-padding">
      <h1 class="nav-header"><a href="{{ SITENAME }}" class="nav-text">
        {{ SITENAME }}
      </a></h1>
      <div class="hamburger-menu">
        <button onclick="hamburgerMenuPressed.call(this)" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Menu">
          <span></span>
          <span></span>
        </button>
        <ul id="menu" class="hamburger-menu-overlay">
          <li><a href="{{ SITEURL }}" class="hamburger-menu-overlay-link">Home</a></li>
          {% if DISPLAY_PAGES_ON_MENU -%}{% for pg in pages %}
            <li><a href="{{ SITEURL }}/{{ pg.url }}" class="hamburger-menu-overlay-link{% if pg == page %} active{% endif %}">{{ pg.title }}</a></li>
          {% endfor %}{% endif %}

          {% if DISPLAY_CATEGORIES_ON_MENU -%}{% for cat, null in pages %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}" class="hamburger-menu-overlay-link{% if cat == category %} active{% endif %}">{{ cat }}</a></li>
          {% endfor %}{% endif %}

        </ul>
      </div>
    </nav>
    <main class="content side-text-padding">
      {% block content %}
      {% endblock %}

      {% block discussion %}
      {% if DISQUS_SITENAME and SITEURL and article and article.status != "draft" %}
      {% include "disqus.html" %}
      {% endif %}
      {% endblock %}
    </main>
    {% block page_nav %}
    {% endblock %}
    {% include "footer.html"  %}
  </body>

</html>