<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% include "header.html" %}
  </head>
  <body class="list-body">
    {% include "nav-bar.html" %}
    <main class="card-container side-gutter">
      <header class="list-header">
        <p class="list-header-subtext">{{ SITESUBTITLE }}</p>
        <!-- <h1 class="list-header-title">{{ SITENAME }}</h1> -->
      </header>

      {% if articles %}
      {% for article in articles_page.object_list %}

        <!-- new article -->
        <div class="card blog-card">
            {% if article.featuredimage %}
            <div class="card-img-container">
              <picture>
                {% if article.featuredimage_webp %}
                  <source srcset="{{ article.featuredimage_webp }}" type="image/webp">
                {% endif %}
                <source srcset="{{ article.featuredimage }}">
              <img src="{{ article.featuredimage_desc }}"{% if article.featuredimage_desc %} alt="{{ article.featuredimage_desc |escape }}"{% endif %}>
              </picture>

            </div>
            {% endif %}
          <article class="card-body">
            <a href="{{ SITEURL }}/{{ article.url }}"  rel="bookmark" >
              <h2 class="card-title">{{ article.title }}</h2>
            </a>
            <p class="card-text">{{ article.summary }}</p>
            <div class="card-subtext muted-text">
              <p>Posted <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
              {% if article.category %}<p>{{ article.category }}</p>{% endif %}
            </div>
          </article>
        </div>

      {% endfor %}
      {% endif %}
      {# @ToDo: add pages #}
    </main>
    {% if articles_page.has_other_pages() %}
    <nav class="pagination-nav side-padding">
      {% if articles_page.has_previous() %}<a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="pagination-newer">&lt; Newer Posts</a>{% endif %}
      {% if articles_page.has_next() %}<a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="pagination-older">Older Posts &gt;</a>{% endif %}
    </nav>
    {% endif %}

    {% include "footer.html" %}
  </body>
</html>